<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseUrl</key>
	<string>https://api.flickr.com/services/rest/</string>
	<key>APIKey</key>
	<string>240eb822d7de705762c83fc761c98065</string>
</dict>
</plist>
